Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans: 
    
    SQL:
        1. RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)
        2. These databases have fixed or static or predefined schema
        3. These databases are not suited for hierarchical data storage.
        4. These databases are best suited for complex queries
        5. Vertically Scalable
        6. Follows ACID property
        7. Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc
    
    NoSQL:
        1. Non-relational or distributed database system.
        2. They have dynamic schema
        3. These databases are best suited for hierarchical data storage.
        4. These databases are not so good for complex queries
        5. Horizontally scalable
        6. Follows CAP(consistency, availability, partition tolerance)
        7. Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans: DDL describes the portion of SQL that creates, alters, and deletes database objects. These database objects include schemas, tables, views, sequences, catalogs, indexes, and aliases.

    1. CREATE: This command is used to create the database or its objects (like table, index, function, views, store procedure, and triggers).
        Example: CREATE DATABASE test
    
    2. DROP: This command is used to delete objects from the database.
        Example: DROP DATABASE test
        
    3. ALTER: This is used to alter the structure of the database.
        Example: ALTER TABLE Students
                ADD Email varchar(255);
    
    4. TRUNCATE: This is used to remove all records from a table, including all spaces allocated for the records are removed.
        Example: TRUNCATE TABLE Student_details;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans: The SQL commands that deals with the manipulation of data present in the database belong to DML or Data Manipulation Language and this includes most of the SQL statements.

    1. INSERT: It is used to insert data into a table.
        Example: INSERT INTO Student VALUES ('5','HARSH','WEST BENGAL','19');
        
    2. UPDATE: It is used to update existing data within a table.
        Example: UPDATE Customer SET CustomerName  = 'Nitin' WHERE Age = 22;
        
    3. DELETE: It is used to delete records from a database table.
        Example: DELETE FROM GFG_EMPLOyees WHERE NAME = 'Rithvik';

Q4. What is DQL? Explain SELECT with an example.

Ans: DQL is a component of SQL statement that allows getting data from the database and imposing order upon it. 

    1. SELECT: It is used to retrieve data from the database.
            Example: SELECT * FROM test_table;

Q5. Explain Primary Key and Foreign Key.

Ans: 

    1. Primary key:
        The PRIMARY KEY constraint uniquely identifies each record in a table. Primary keys must contain UNIQUE values, and cannot contain NULL values. A table can have only ONE primary key; and in the table, this primary key can consist of single or multiple columns (fields).
        
    2. Foreign key: 
        A FOREIGN KEY is a field (or collection of fields) in one table, that refers to the PRIMARY KEY in another table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

    import mysql.connector

    mydb = mysql.connector.connect(

      host="localhost",
  
      user="abc",
  
      password="password"
  
    )

    mycursor = mydb.cursor()

    1. cursor(): This method returns a MySQLCursor() object, or a subclass of it. The returned object is a cursor.CursorBase instance.

    2. execute(): This method executes the given database operation (query or command).

Q7. Give the order of execution of SQL clauses in an SQL query.

Ans: 

    1. FROM
    2. WHERE
    3. GROUP BY
    4. HAVING
    5. SELECT
    6. ORDER BY
    7. LIMIT